*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(189, 214, 226, 0.884);
}
.header-1{
    display:flex;
    align-items:center ;
    justify-content:space-between;
    padding: 10px 60px;
    font-size: 15px;
    color:grey;
    margin: 10px 10px;
    height: 50px;
    width: auto;
    text-shadow: 0 0 10px;
    border-radius:4px;
    box-shadow: 5px 5px black;
    background-color:rgba(0, 0, 0, 0.712);

}

.logo h2{
    font-size: 15px;
    color: azure;

}

nav{
    display: flex;
    gap: 30px;
}

a{
    color:rgba(255, 255, 255, 0.616);
    text-decoration: none;
}

.contacto button{
    background-color: rgb(30, 152, 168);
    padding: 5px 25px;
    border-radius: 30px;
    color: rgb(148, 220, 230);
    cursor: pointer;
    border: none;
}